
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OfficeFile</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <style>
        div {
            margin:20px;
            font-size: 18px;
        }
        div  a{
            color: darkcyan;
            text-decoration: none;
        }
        div  a:hover{
            color:lightpink;
        }
    </style>
    <script>
        var methods =
        {
            convertPpt: function () {

                


            },
            convertWord: function () {

            },
            convertExcel: function () {

            }
        }

        $(function () {

            $(".btn").click(function() {
                $(this).siblings().toggle();
            });

            $(".btn-office").click(function() {
                var method = $(this).data("method");
                var param;
                switch (method) {
                    case "convert-ppt":
                        param= {
                            fileType:"ppt"
                        }
                        break;
                    case "convert-word":
                        param= {
                            fileType:"word"
                        }
                        break;
                    case "convert-excel":
                        param= {
                            fileType:"excel"
                        }
                        break;
                }

                $.ajax({
                    url: "@Url.Action("ConvertToPdf","FilePreview" )",
                    type: "POST",
                    dataType: "JSON",
                    data: param,
                    success: function(data, txtStatus, jqXHR) {
                        window.frames["iframe-way2"].src = "/File/" + data.fileName;
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            });

        });


    </script>
</head>
<body>
    <div> @Html.ActionLink("back to index", "Index", "FilePreview") </div>
    <div>
        <button id="btn1" value="" class="btn">收展 方法一</button>
        <h3>方法一：利用微软官方提供的在线接口实现预览 https://view.officeapps.live.com</h3>
        <ul>
            <li>优点：实现简单方便、效果有较好</li>
            <li>缺点：网络依赖性较重，word、excel、ppt等文件资源必须是公共可访问的</li>
        </ul>
        <iframe height="800" src='https://view.officeapps.live.com/op/view.aspx?src=http://storage.xuetangx.com/public_assets/xuetangx/PDF/1.xls' width='100%' height='100%' frameborder='1'>
        </iframe>
    </div>
    <div>
        <button id="btn2" value="" class="btn">收展 方法二</button>
        <h3>方法二：利用第三方组件转PDF（此处使用的是破解版的Aspose）</h3>
        <ul>
            <li>优点：自主可控度比方法一强</li>
            <li>缺点：需要额外的逻辑、空间记录、存储转换出来的PDF文件。需要第三方组件支持。</li>
            <li>业内成熟的商业第三方组件：Aspose、Spire.Office for .NET、PageOffice</li>
            <li>微软官方也有提供相应插件，但需要在服务器上安装有office环境，第三方dll则不需要office环境</li>
        </ul>
        <button id="btn-preview-word" class="btn-office" data-method="convert-word" value="" class="">查看word</button>
        <button id="btn-preview-excel" class="btn-office" data-method="convert-excel" class="">查看excel</button>
        <button id="btn-preview-ppt" class="btn-office" data-method="convert-ppt" class="">查看ppt</button>
        <iframe id="iframe-way2" height="800" src='' width='100%' height='100%' frameborder='1'></iframe>
    </div>
</body>
</html>
