
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    
    <p>@Html.ActionLink("用户管理", "Index","User") \ <a href="@Url.Action("Index","User")" >用户管理</a></p>
</div>
<div></div>
</body>
</html>
