
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
<div>
    登录
</div>
<div>
    账号：<input type="text" id="userid"/>
</div>
<div>
    密码:<input type="password" id="password" />
</div>

<div>
    <input type="button" id="btn_submit" />
    
</div>
</body>
</html>
