
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/user.css" rel="stylesheet" />
    
    <title>用户管理</title>
</head>
<body>

<div id="toolbar" class="layui-fluid layui-bg-gray" style="height: 38px;padding: 10px 15px;">
    <label class="layui-form-label" style="padding-left:0;width:50px;">用户名:</label>
    <div class="layui-input-inline">
        <input id="input-keyword" type="text" name="title" placeholder="请输入用户名搜索" autocomplete="off" class="layui-input">
    </div>
    <button id="btn-search" class="layui-btn" style="margin-left:10px" data-type="search">
        <i class="layui-icon layui-icon-search"></i> 搜索
    </button>
    <button id="btn-clear" class="layui-btn layui-btn-primary" data-type="reset">
        <i class="layui-icon layui-icon-fonts-clear"></i> 重置
    </button>
    <button id="btn-add" class="layui-btn" style="float: right;" data-type="add">
        <i class="layui-icon  layui-icon-add-circle"></i> 添加
    </button>
</div>

<table id="userList" lay-filter="userlist"></table>

<script type="text/html" id="girViewModelolbar">
    <button class="layui-btn  layui-btn-sm" data-user-id="{{d.UserID }}" lay-event="detail">查看</button>
    <button class="layui-btn layui-btn-normal layui-btn-sm" data-user-id="{{d.UserID }}" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" data-user-id="{{d.UserID }}" lay-event="delete">删除</button>
</script>
<script>
    var url_addUser = '@Url.Action("Add","User",new RouteValueDictionary(new { Area = "Admin"}))';
    var url_editUser = '@Url.Action("Edit","User",new RouteValueDictionary(new { Area = "Admin"}))';
    var url_delUser = '@Url.Action("Delete","User",new RouteValueDictionary(new { Area = "Admin"}))';
</script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/Admin/User/index.js"></script>
</body>
</html>
