/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [UserID]
      ,[Name]
      ,[Age]
      ,[Email]
      ,[Pwd]
  FROM [MvcDemo].[dbo].[User]
  
  USE MvcDemo
  
INSERT INTO HeaderMenu( MenuID, MenuName, Url,IconUrl, MenuOrder) VALUES('root','根目录','','',0)
INSERT INTO HeaderMenu( MenuID, MenuName, Url,IconUrl, MenuOrder) VALUES('base','基本设置','','',0)
INSERT INTO HeaderMenu( MenuID, MenuName, Url,IconUrl, MenuOrder) VALUES('order','订单业务','','',0)

INSERT INTO [MvcDemo].[dbo].[SideMenu]
           ([MenuID]
           ,[MenuName]
           ,[Url]
           ,[IconUrl]
           ,[HeaderMenuID]
           ,[ParentID]
           ,[MenuOrder])
     VALUES
           ('root'
           ,'根目录'
           ,''
           ,''
           ,'root'
           ,''
           ,1)
  
INSERT INTO [MvcDemo].[dbo].[SideMenu]
           ([MenuID]
           ,[MenuName]
           ,[Url]
           ,[IconUrl]
           ,[HeaderMenuID]
           ,[ParentID]
           ,[MenuOrder])
     VALUES
           ('power'
           ,'权限管理'
           ,''
           ,''
           ,'base'
           ,'root'
           ,1)
           
INSERT INTO [MvcDemo].[dbo].[SideMenu]
           ([MenuID]
           ,[MenuName]
           ,[Url]
           ,[IconUrl]
           ,[HeaderMenuID]
           ,[ParentID]
           ,[MenuOrder])
     VALUES
           ('menu'
           ,'菜单管理'
           ,'/admin/menu'
           ,''
           ,'base'
           ,'power'
           ,1)


           

                     
           




           
INSERT dbo.[Role](RoleName) VALUES('超级管理员')

DECLARE @RoleID int
SELECT TOP 1 @RoleID=RoleID FROM dbo.[Role]

INSERT RoleUser(RoleID,UserID) VALUES(@RoleID,'admin')

INSERT RoleSideMenu( RoleID, MenuID) VALUES(@RoleID,'power')
INSERT RoleSideMenu( RoleID, MenuID) VALUES(@RoleID,'menu')
INSERT RoleSideMenu( RoleID, MenuID) VALUES(@RoleID,'role')




GO